
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F1F4;
}

section {
    padding: 20px 100px 0px 100px;
    background-color: #F4F1F4;
}

.custom-img {
    object-fit: contain;
    width: 100%;
    height: 200px;
}


.card-body {
    margin-bottom: 20px;
    flex-grow: 1;
    display: block;
    text-align: center;
    align-items: center;
}

#add-to-cart-btn {
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-color: dimgray;
    transition: transform 0.3s ease;
}

#detail-btn {
    font-weight: bold;
    transition: transform 0.3s ease;
    background-color: tomato;
    color: white;
    opacity: 0.3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 20px;
    width: auto;
    padding: 50px 200px;
    justify-content: center;
}



.card {
    flex: 0 0 auto; 
    width: 300px;
    height: 100%; 
    background: #f6f8fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px dimgray;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-10px);
        background-color:lightgray;
    }

.section-title {
    margin: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.add-to-cart-btn:hover {
    background-color: rgb(143, 45, 28);
    color: white;
    font-weight: bold;
    border-color: dimgray;
}

.detail-btn:hover {
    background-color: rgb(143, 45, 28);
    font-weight: bold;
    opacity: 0.1;
}

.horizontal-cards-container {
    display: flex;
    overflow: hidden;
    gap: 20px;
    width: 100%;
    position: relative;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
}

.horizontal-cards-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    padding: 20px 0;
    width: 100%;
}

    .horizontal-cards-container::-webkit-scrollbar {
        display: none; 
    }

    .horizontal-cards-container .card {
        flex: 0 0 auto;
        width: 250px;
        height: 450px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

    .carousel-button.left {
        left: 10px;
    }

    .carousel-button.right {
        right: 10px;
    }


@media (max-width: 750px) {

    .horizontal-cards-container .card {
        padding: 20px 
        
    }

        .horizontal-cards-container .card p {
            font-size: 16px;
            font-weight: bolder 
        }

    .horizontal-cards-container .card {
        width: 99%;
        * Ajustar el tamaño de fuente en dispositivos pequeños */
    }

    section {
        padding: 10px 20px 10px 20px;
    }


    .carousel-wrapper {
        width: 100%;
    }
}
